<h1> velocidad luz</h1>
<br>
<div>
<p> En primer lugar tenemos la relación entre la poesía, lo posible
    y lo imposible. La poesía profunda es, en el plano de la palabra
    o la expresión humana, lo humano más que humano de Nietzsche.
    Siempre hay que ir más allá, y uno no sabe dónde queda ni si
    será capaz de llegar. Tal vez en los creadores de la poesía
    profunda todo consista en un cambio de actitud, tensión, palabras
    e imágenes, para decir los límites de lo posible y lo imposible.</p>
</div>
